---
import Layout from "@/layouts/Layout.astro";
import Map from "@/components/games/metroid-fusion/Map.astro";
import { orders, type Order, sort } from "@/components/games/metroid-fusion/locations";

export async function getStaticPaths() {
  return orders.map(({value}) => ({params: {order: value}}));
}

interface Params {
  order?: Order;
}

const { order } = Astro.params as Params;

const locations = sort(order);

const link = (value: Order) => ['/cv/games/metroid-fusion-gba', value].filter(Boolean).join('/');
---
<Layout title="Metroid Fusion - GBA">
  <main class="mx-auto w-max p-3 grid gap-3">
    <h1 class="text-3xl font-bold text-center">Metroid Fusion ({order})</h1>
    <nav>
      <ul class="w-full flex justify-around">
        {orders.map(({name, value}) => (
          <li>
            <a href={link(value)} class="border px-2 py-1 rounded bg-white/10 hover:bg-white/20">
              {name}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    <Map locations={locations} />
  </main>
</Layout>
