---
import { formatDate } from '@/helpers';
import { type Experience } from '@/data/cv/experiences';

interface Props extends Experience {}

const { company, from, to, mode, location, position, description } = Astro.props;
---

<div class="grid grid-cols-[3fr_auto_5fr] gap-2 break-inside-avoid">
  <div>
    <h4 class="text-base font-bold">{company}</h4>
    <p class="text-sm print:text-xs">{formatDate(from)} - {to ? formatDate(to) : 'Present'}</p>
    <p class="text-sm print:text-xs">{mode}</p>
    <p class="text-sm print:text-xs">{location}</p>
  </div>
  <div class="relative border border-gray-300 top-2.5">
    <div class="absolute -top-1 -left-1.5 h-3 w-3 bg-gray-400 rounded-full"></div>
  </div>
  <div>
    <h4 class="text-base font-bold">{position}</h4>
    <p class="text-sm print:text-[10px]">{description}</p>
  </div>
</div>
